
.clickable{
    width: 180px;
    height: 180px
}
.img-con{
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 80%;
}

.img-con:hover{
    width: 90% !important;
    height: 90% !important;
}